<DOCTYPE !>
	{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'ruler/style.css' %}">
<title>Ruler</title>
</head>
<body onload="startPolling()">
	<p id ="para">welcome {{distance}}<p>
<canvas id="myCanvas" width="100" height="300" style="border:1px solid #000000;" >
</canvas>
<script type="text/javascript">
	function startPolling(){
	  var intervalID = window.setInterval(myCallback, 100);
	}

	function drawLine(distance) {





        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        var clear= c.getContext("2d");
        clear.clearRect(0, 0, 100, 300);
        ctx.beginPath()
        ctx.moveTo(50, 300);
        ctx.lineTo(50, 300-distance*2);
        ctx.stroke();
    }
    function makeAPIcall() {



                let url ="/ruler/getDistance";
                let xhr= new XMLHttpRequest();
                xhr.open('GET',url);
                xhr.responseType='text';
                xhr.onload = function (){

					drawLine(Number(xhr.response));
					var c = document.getElementById("para");
					c.textContent=xhr.response;
                }
                xhr.send();

            }
    function myCallback() {
	    makeAPIcall();

}

</script>
</body>
</html>
